<!DOCTYPE html>
<html>
<head>
  <title>Radio SRF 3 @Spotify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Wir suchen das Lied, das gerade auf Radio SRF 3 gespielt wird und fügen es deiner Spotify Playlist hinzu">
</head>
<body>
  <div class="site-wrapper">
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="masthead clearfix">
              <div class="inner">
                <h3 class="masthead-brand">Radio SRF 3 @Spotify</h3>
                <ul class="nav masthead-nav">
                  <li>
                    <%= link_to 'Start', root_path %>
                  </li>
                  <li>
                    <%= link_to 'Scan', sounds_scan_path %>
                  </li>
                  <li>
                    <%= link_to 'Einstellungen', '/auth/spotify', rel: 'nofollow' %>
                  </li>
                </ul>
              </div>
            </div>

            <div class="inner cover">
              <% %w(success notice warning alert).each do |format| %>
                <div class="alert alert-<%= format %>" style="<%= flash[:"#{format}"].nil? ? 'display: none' : '' %>">
                  <%= flash[:"#{format}"] %>
                </div>
                <% flash[:"#{format}"] = nil %>
              <% end %>
              <%= yield %>
            </div>

            <div class="mastfoot">
              <div class="inner">
                <p><a href="https://twitter.com/romainhaenni">@romainhaenni</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51766182-3', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
